# .prettierignore 文件使用类似于 .gitignore 的语法规则，支持通配符和路径匹配模式。以下是一些常见的语法规则：
# *：匹配任意数量的字符，但不匹配路径分隔符 /。
# **：匹配任意数量的字符，包括路径分隔符 /。
# ?：匹配单个字符。
# !：取反，表示不应该忽略的文件或目录。
dist/
html/
.local
node_modules/

**/*.svg
**/*.sh

public/
